<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="description" 
		content=@ViewData["Description"] />

	<title>@ViewData["Title"] - AscendedGuild</title>

	<environment include="Development">
		@RenderSection("Style", required: true)
	</environment>

	<script
	src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>

	<link rel="icon" type="img/svg+xml" href="~/images/favicon.jpg">
</head>
<body>
	<header>
		<a class="icon-container" asp-controller="Home" asp-action="Index">
			<img src="~/images/Navbar/a-logo.png"
				class="icon" alt="Ascended Guild icon" 
				height="2135" width="2135"/>
		</a>

		<!-- The log in information is applied to the navbar class
			in order to control the width at which the navbar changes to
			vertical orientation -->
		@{
			string navbarClass = "navbar";
		}

		@if (User.IsInRole("Administrator"))		
		{
			navbarClass += " navbar--logged-in";
		}
		else
		{
			navbarClass += " navbar--logged-out";
		}

		<ul class="@navbarClass" role="navigation" aria-label="Main">
			<li class="nav-item">
				<a 
				class="nav-link" 
				asp-controller="About" 
				asp-action="Index">
					About us
				</a>
			</li>

			<li class="nav-item">
				<a
				target="_blank" 
				rel="noopener noreferrer"
				class="nav-link" 
				href="https://www.wowprogress.com/guild/us/sargeras/Ascended">
					WoW Progress
				</a>
			</li>

			<li class="nav-item">
				<a 
				class="nav-link" 
				asp-area="" 
				asp-controller="Streams" 
				asp-action="Index">
					Streams
				</a>
			</li>

			<li class="nav-item">
				<a
				target="_blank" 
				rel="noopener noreferrer"
				class="nav-link" 
				href="https://www.youtube.com/user/Absolutioncb/featured">
					YouTube
				</a>
			</li>

			<li class="nav-item">
				<a 
				class="nav-link" 
				asp-area="" 
				asp-controller="Recruitment" 
				asp-action="Index">
					Recruitment
				</a>
			</li>

			@if (User.IsInRole("Administrator"))
			{
				<li class="nav-item">
					<p>Admin mode: on<p>
				
					<form 
					asp-area=""
					asp-controller="Account"
					asp-action="Logout"
					method="post">
						<button id="logout" type="submit">
							Logout
						</button>
					</form>
				</li>
			}
		</ul>
	</header>
	<main>
		@RenderBody()		
	</main>
</body>
</html>
