@model Demand

@switch (Model)
{
	case Demand.Closed:
		<h2 class="demand" id="demand--closed">
			Closed
		</h2>
		break;
	
	case Demand.Low:
		<h2 class="demand" id="demand--low">
			Low
		</h2>
		break;
	
	case Demand.High:
		<h2 class="demand" id="demand--high">
			High
		</h2>
		break;
}