<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AscendedGuild</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav class="navbar">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AscendedGuild</a>
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
				</li>
			</ul>
		</nav>
	</header>

	<main role="main">
		@RenderBody()
	</main>

	<footer>
		&copy; 2020 - AscendedGuild - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</footer>

	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
