<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>AscendedGuild</title>

		<environment include="Development">
			@RenderSection("Style", required: true)
		</environment>

		<link rel="icon" type="img/svg+xml" href="~/images/favicon.svg">
</head>
<body>
	<header>
		<a class="icon-container" asp-controller="Home" asp-action="Index">
			<img src="~/images/icon.svg"
				class="icon" alt="Ascended Guild icon" />
		</a>
		
		<ul class="navbar" role="navigation">
			<li class="nav-item">
				<a 
				class="nav-link" 
				asp-controller="About" 
				asp-action="Index">
					About us
				</a>
			</li>

			<li class="nav-item">
				<a 
				class="nav-link" 
				href="https://www.wowprogress.com/guild/us/sargeras/Ascended">
					WoW Progress
				</a>
			</li>

			<li class="nav-item">
				<a 
				class="nav-link" 
				asp-area="" 
				asp-controller="Streams" 
				asp-action="Index">
					Streams
				</a>
			</li>

			<li class="nav-item">
				<a 
				class="nav-link" 
				href="https://www.youtube.com/user/Absolutioncb/featured">
					YouTube
				</a>
			</li>

			<li class="nav-item">
				<a 
				class="nav-link" 
				asp-area="" 
				asp-controller="Recruitment" 
				asp-action="Index">
					Recruitment
				</a>
			</li>
		</ul>
	</header>
	<main>
		@RenderBody()		
	</main>
</body>
</html>
