@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
		
	<link rel="stylesheet"
		href="/css/pages/home.css" />
}

@{
  ViewData["Title"] = "Home";
}

<div class="splash"></div>