@model TextBlock

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
		
	<link rel="stylesheet"
		href="/css/pages/about.css" />
}

<article class="about-us">
	<img
	class="about-us__logo"
	src="/images/animated.gif" 
	alt="Ascended animated logo" />

	@Html.Raw(Model.HtmlContent)
</article>

@if (User.IsInRole("Administrator"))
{
	<section class="edit-about-us">
		<div class="edit-instructions">
			<p>Use markdown to format the About blurb.</p>

			<p>See this link for more information:
				<a
				class="editing-help-link"
				target="_blank"
				rel="noopener noreferrer"
				href="https://stackoverflow.com/editing-help">
					Stackoverflow markdown formatting
				</a>
			</p>
		</div>

		<form
		asp-asp-controller="About"
		asp-action="Edit"
		method="post">
			<textarea
			asp-for="@Model.MarkdownContent"
			name="incomingContent" 
			id="about-us-input">
			</textarea>

			<div class="button-container">
				<button	type="submit">
					Save
				</button>
			</div>
		</form>	
	</section>	
}