@model AddStreamerViewModel

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
		
	<link rel="stylesheet"
		href="/css/pages/create-streamer.css" />
}

<!-- The Administrator user can add and remove streamers -->
@if (User.IsInRole("Administrator"))
{
	<section class="admin">
		<h2>Add a new streamer</h2>

		<form 
			id="new-streamer-form" 
			method="post">
			<div class="form-group">
				<label asp-for="Channel">
					Channel name
				</label>
				<input 
					asp-for="Channel" 
					class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="CharacterName">
					Character name
				</label>
				<input 
					asp-for="CharacterName" 
					class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="GuildRank">
					Guild rank
				</label>
				<input 
					asp-for="GuildRank" 
					class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="PlayerClass">
					Class
				</label>
				<input 
					asp-for="PlayerClass" 
					class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="Spec">
					Specialization
				</label>
				<input 
					asp-for="Spec" 
					class="form-control" />
			</div>

			<div class="form-group" id="submit">
				<button type="submit">Save</button>
			</div>
		</form>
	</section>
}
else
{
	<h2>You are not authorized to view this page</h2>
}