@model AddStreamerViewModel

@using AscendedGuild.Models.Streams

@section Style {
	<link rel="stylesheet"
				href="/css/shared.css" />

	<link rel="stylesheet"
				href="/css/pages/create-streamer.css" />
}

<!-- The Administrator user can add a new streamer -->
@if (User.IsInRole("Administrator"))
{
	<section class="admin">
		<h2>Add a new streamer</h2>

		<form id="new-streamer-form" method="post">
			<div asp-validation-summary="All"></div>

			<div class="form-group">
				<label asp-for="NewStreamer.Channel">
					Channel name
				</label>

				<input asp-for="NewStreamer.Channel" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="NewStreamer.CharacterName">
					Character name
				</label>

				<input asp-for="NewStreamer.CharacterName" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="NewStreamer.GuildRank">
					Guild rank
				</label>

				<select class="form-control"
								asp-for="NewStreamer.GuildRank"
								asp-items="Html.GetEnumSelectList<GuildRank>()">
				</select>
			</div>

			<div class="form-group">
				<label asp-for="NewStreamer.PlayerClass">
					Class
				</label>

				<select id="classDropDownList" class="form-control"
								asp-for="NewStreamer.PlayerClass"
								asp-items="Model.PlayerClasses"
								onchange="updateSpecs()">
					<option value="" selected="true">Select</option>
				</select>
			</div>

			<div class="form-group">
				<label asp-for="NewStreamer.Spec">
					Specialization
				</label>

				<select id="specsDropDownList" class="form-control"
								asp-for="NewStreamer.Spec">
					<option value="Various" selected="true">Various</option>
				</select>
			</div>

			<div class="form-group" id="submit">
				<button type="submit">Save</button>
			</div>
		</form>
	</section>
}
else
{
	<h2>You are not authorized to view this page</h2>
}

<script type="text/javascript">	
	function updateSpecs() {
		var specsDropdown = $('#classDropDownList');		
		var playerClass = specsDropdown.val();

		ajaxCall('/Streams/GetSpecs', playerClass).done(function (response) {
			if (response.length > 0) {
				$.each(response, function(item))					
    			specsDropdown.append(
						$("<option />").val(item).text(item)
					);
				}					
		}).fail(function (error) {
			alert(error.StatusText);
		});
	}	

	function ajaxCall(url, data) {
		return $.ajax({
			url: url + "?playerClass=" + data,
			data: '',
			type: 'GET',			
			contentType: 'application/json; charset=utf-8'
		});
	}
</script>