.about-us {
  font-size: 18pt;  
}

.about-us p, ul {
  padding-bottom: 20px;
}

.about-us li {
	text-indent: 8em;
}

.about-us p {
  text-indent: 4em;
}

.about-us h2 {
  font-size: 20pt;
}

.about-us__logo {
  float: right;
  padding-right: 20px;
  padding-bottom: 20px;
}

.edit-about-us textarea {
	width: 100%;
	height: 300px;
}