/* Color */

/* Layout */
body {
	height: 100vh;
}

main {
	display: grid;
	place-items: center;
}

#login {
	width: 230px;	
}

.form-control {
	width: 100%;
}

.form-group {
	padding: 20px;
}

#submit {	
	display: flex;
	justify-content: center;
}
