main {
	padding-top: 20px;
	display: flex;
	justify-content: center;
}

.form-group {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
}

.form-control {
	width: 300px;
}

#login {
	width: 500px;
}

label {
	color: white;
}

#submit {
	justify-content: center;
}