/* class-grid style */
	#class-grid {
		text-transform: uppercase;
	}

	.class-card {
		border: solid;
		border-width: 2px;
		border-color: var(--purple);
	}

	.class-name {
		font-size: 2rem;
	}

	.spec-name {
		color: white;
	}

	.class-icon {
		transform: scale(1.2);
	}

	.spec-icon {
		transform: scale(0.8);
		border-radius: 4px;
	}

/* class-grid layout */
	#class-grid {
		width: auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		grid-gap: 2vmax;
		align-items: stretch;
	}

	.class-card {
		padding: 20px;
		display: grid;
		grid-template-columns: 1;
		grid-template-rows: auto 1fr;		
	}

	.card-title {
		grid-row: 1;
		display: grid;
		grid-template-columns: 1fr auto;
		place-items: center;
	}

	.specs {
		grid-row: 2;
		display: grid;
		grid-template-columns: auto 1fr 96px;
		grid-template-rows: repeat(auto-fit, auto);
		place-items: center;
	}

	.spec-icon {
		grid-column: 1;
	}

	.spec-name {
		grid-column: 2;
	}

	.demand {
		grid-column: 3;
	}
/* End of class-grid layout */

/* Demand colors */
	#demand--high {
		color: green;
	}

	#demand--low {
		color: yellow;
	}

	#demand--closed {
		color: gray;
	}

/* Player class colors */
	/* Death Knight */
	#class1 {
		color: #C41F3B;
	}

	/* Mage */
	#class2 {
		color: #40C7EB;
	}

	/* Rogue */
	#class3 {
		color: #FFF569;
	}

	/* Demon Hunter */
	#class4 {
		color: #A330C9;
	}

	/* Monk */
	#class5 {
		color: #00FF96;
	}

	/* Shaman */
	#class6 {
		color: #0070DE;
	}

	/* Druid */
	#class7 {
		color: #FF7D0A;
	}

	/* Paladin */
	#class8 {
		color: #F58CBA;
	}

	/* Warlock */
	#class9 {
		color: #8787ED;
	}

	/* Hunter */
	#class10 {
		color: #A9D271;
	}

	/* Priest */
	#class11 {
		color: #FFFFFF;
	}

	/* Warrior */
	#class12 {
		color: #C79C6E;
	}
/* End Player class colors */