#class-grid {
	text-transform: uppercase;
}

.class-card {
	border: solid;
	border-width: 2px;
	border-color: var(--purple);
}

/* class-grid style */
	#class-grid {
		width: auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
		grid-gap: 2vmax;
		align-items: stretch;
	}

	.class-card {
		padding: 20px;		
	}

	.card-title {
		display: flex;
		align-items: center;
		font-size: 2rem;
	}

	.class-name {
		flex-grow: 1;
	}

	.spec-name {
		color: white;
		flex-grow: 1;
	}

	.class-icon {
		transform: scale(1.2);
	}

	.spec-icon {
		transform: scale(0.8);
		border-radius: 4px;
	}

	.specializations {
		display: flex;
		flex-direction: column;
	}

	.spec {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
/* End of class-grid style */

/* Demand colors */
	#demand--high {
		color: green;
	}

	#demand--low {
		color: yellow;
	}

	#demand--closed {
		color: gray;
	}

/* Player class colors */

	/* Death Knight */
	#class1 {
		color: #C41F3B;
	}

	/* Mage */
	#class2 {
		color: #40C7EB;
	}

	/* Rogue */
	#class3 {
		color: #FFF569;
	}

	/* Demon Hunter */
	#class4 {
		color: #A330C9;
	}

	/* Monk */
	#class5 {
		color: #00FF96;
	}

	/* Shaman */
	#class6 {
		color: #0070DE;
	}

	/* Druid */
	#class7 {
		color: #FF7D0A;
	}

	/* Paladin */
	#class8 {
		color: #F58CBA;
	}

	/* Warlock */
	#class9 {
		color: #8787ED;
	}

	/* Hunter */
	#class10 {
		color: #A9D271;
	}

	/* Priest */
	#class11 {
		color: #FFFFFF;
	}

	/* Warrior */
	#class12 {
		color: #C79C6E;
	}
/* End Player class colors */