@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
		
	<link rel="stylesheet"
		href="/css/pages/home.css" />
}

@{
  ViewData["Title"] = "Home";
	ViewData["Description"] = 
		"All about the World of Warcraft guild Ascended, on Alliance US-Sargeras.";
}

<div class="splash"></div>