@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
	<link rel="stylesheet"
		href="/css/pages/home.css" />
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="splash"></div>