@import "base/_reset.css";
@import "base/_colors.css";
@import "base/_hyperlinks.css";
@import "base/_fonts.css";

/* Colors */
body {
	background-color: var(--charcoal);
}

.navbar {
	color: white;
}

/* Fonts */
body {
	font-family: Myriad;
}

/* Layout */
body {
	padding: 0 9vw;
	display: grid;
	grid-template-rows: auto 1fr 100px;
}

header {
	padding: 20px 0;
	grid-row: 1;
	display: grid;
	grid-template-columns: auto 1fr minmax(max-content, 1fr);
}

main {
	grid-row: 2;
	display: grid;	
}

.icon-container {
	grid-column: 1;
}

.navbar {
	grid-column: 3;	
}

/* Logo size */
.icon-container {
	width: auto;
	height: 10vh;
}

.icon {
	width: auto;
	height: inherit;
}

/* For desktop:
 * Draw menu horizontally
 */
.navbar {
	display: flex;
	text-transform: uppercase;
	align-items: center;
	justify-content: flex-end;
}

/* Animated underline for navbar */
.navbar a { 
  text-decoration: none;
  letter-spacing: 0.15em;  
  display: inline-block;
	position: relative;
	padding: 0.5rem 0;
}

.navbar a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--yellow);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* For mobile:
 * Make icon bigger
 * and draw menu vertically
 * on the right of the page
 */
@media (max-width: 975px) {
	body {
		padding: 0 5vw;
	}

	.icon-container {
		grid-column: 1 / 3;
		width: inherit;
		height: inherit;
	}

	.icon {
		width: inherit;
		height: auto;
		padding: 20px;
	}

	.navbar {
		flex-direction: column;
		align-items: stretch;
	}

	.navbar li {
		padding: 1rem;
		text-align: right;    
	}	
}

/* Draw a vertical line only between nav elements.
 * Add padding all around each element except
 * at the far right edge
 */
@media (min-width: 975px) {
	.navbar li {
		padding: 1rem 0 1rem 1rem;
	}

	.navbar li:not(:last-child) {
		border-right: 1px solid var(--purple);
		padding-right: 1rem;
	}
}