@import "base/_reset.css";
@import "base/_colors.css";
@import "base/_hyperlinks.css";
@import "base/_fonts.css";

/* colors */
body {
	background-color: var(--charcoal);
}

.navbar {
	color: white;
}

/* Layout */
body {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
}

header {
	padding: 20px;
	grid-row: 1;
	display: grid;
	grid-template-columns: auto 1fr 1fr;
}

main {
	grid-row: 2;
}

.icon-container {
	grid-column: 1;
}

.navbar {
	grid-column: 3;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navbar li {
	padding: 1rem;
}

/* Logo */
.icon-container {
	width: auto;
	height: 10vh;
}

.icon {
	width: auto;
	height: inherit;
}

/* Nav */
.navbar li:not(:last-child) {
	border-right: 1px solid var(--purple);
}